@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&family=Montserrat:wght@500&display=swap");

.right-body {
  padding-left: 195px;
  position: fixed;
}

.blog-content {
  position: relative;
  width: 1000px;
  height: 180px;
  padding-top: 53px;
  padding-left: 60px;
}

.blog-info {
  width: 150px;
  height: 80px;
  font-family: "Montserrat";
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 60%;
  padding-left: 10px;
}

.blog-sentence {
  width: 1000px;
  height: 60px;
  font-family: "Encode Sans";
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 120%;
  border-bottom-style: solid;
  border-bottom-color: #2a7886;
  padding-left: 8px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search-bar {
  border-bottom-style: outset 1px solid;
  border-radius: 24px;
  width: 18%;
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  position: relative;
}
